secret_key_base: ""
newrelic_license_key: ""

aws:
  access_key_id: ""
  secret_access_key: ""
  region: us-east-1

redis:
  password: ""

smtp:
  address: "smtp.example.com"
  port: 587
  host: "example.com"
  default_url_host: "https://example.com"
  user_name: ""
  password: ""

user_email_allowlist:
  - john.doe@example.com

hostname: "https://example.com"
default_email_from: "Finance MicroManager <no-reply@example.com>"
