@import './variables.scss';

// Lux 5.2.2
// Bootswatch

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

html, body, #app {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
}

// Navbar

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;
  text-transform: uppercase;

  &-nav {
    .nav-link {
      padding-top: .715rem;
      padding-bottom: .715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}

// Buttons

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  svg {
    transition: all 0.15s ease-in-out;
  }

  &:hover, &:focus, &:active, &:focus-visible {
    svg {
      transform: scale(1.25);
    }
  }
}

.btn-context-action {
  align-items: center;
  border: none;
  color: $gray-600;
  display: flex;
  flex: 0 0 auto;
  height: 2.5em;
  justify-content: center;
  padding: 0;
  width: 2.5em;

  &:hover, &:focus, &:active, &:focus-visible {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  &:hover {
    color: $gray-600 !important;
  }

  &:focus, &:focus-visible, &:active {
    color: $gray-700 !important;
  }
}

.btn-xs {
  @extend .fs-6;
  @extend .px-2;
  @extend .py-1;
}

// Typography

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

// Tables

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th,
  td {
    padding: 1.5rem;
  }

  &-sm {
    th,
    td {
      padding: .75rem;
    }
  }

  .table-group-divider {
    border-top-color: $indigo-700;
  }
}

// Navs

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Containers

.background-curved-lines {
  background-size: auto;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/background_curves.svg');
}

.side-strip {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $side-strip-width;
  }
}

.side-strip-rounded {
  &::after {
    border-radius: $border-radius 0 0 $border-radius;
  }
}

// Bootstrap extensions

@each $color, $value in $theme-colors {
  .side-strip-#{$color} {
    &::after {
      background-color: $value;
    }

  }

  .bg-hover-#{$color}:hover {
    background-color: $value !important;
  }
}

.text-credit {
  color: var(--text-credit-color) !important;
}

.text-debit {
  color: var(--text-debit-color) !important;
}

.min-width-0 {
  min-width: 0;
}

.min-height-0 {
  min-height: 0;
}

.width-10rem {
  width: 10rem;
}

.width-12rem {
  width: 12rem;
}

.width-15rem {
  width: 15rem;
}

.width-20rem {
  width: 20rem;
}

input.input-no-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@include media-breakpoint-down(md) {
  .row {
    --bs-gutter-x: 1rem;
  }

  .list-group-item:last-child, .list-group-item:first-child {
    border-radius: 0;
  }
}

select.minimalist-secondary-select {
  background-color: transparent;
  background-image: #{escape-svg(url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path fill="#{$secondary}" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>'))};
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.5rem);
  background-position-y: 50%;
  min-width: fit-content;
}

.minimalist-secondary-select {
  align-items: center;
  appearance: none;
  border: none;
  border-bottom: 2px solid var(--bs-secondary);
  color: var(--bs-body-color);
  cursor: pointer;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  min-width: 10rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  position: relative;
  text-decoration: none;

  &::before {
    content: '';
    background-image: #{escape-svg(url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path fill="#{$secondary}" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>'))};
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 0.5rem;
    transition: all .15s ease-in-out;
  }

  &:hover, &.show {
    border-bottom-color: $indigo-700;
  }

  &.show {
    &::before {
      transform: rotate(180deg);
    }
  }
}
