@import './variables.scss';

// Lux 5.2.2
// Bootswatch

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

:root {
  color-scheme: light;
}

html, body, #app {
  height: 100%;
  overflow-x: hidden;
}

// Navbar

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;
  text-transform: uppercase;

  &-nav {
    .nav-link {
      padding-top: .715rem;
      padding-bottom: .715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}

// Buttons

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  svg {
    transition: all 0.15s ease-in-out;
  }

  &:hover, &:focus, &:active, &:focus-visible {
    svg {
      transform: scale(1.25);
    }
  }
}

.btn-context-action {
  align-items: center;
  border: none;
  color: $gray-600;
  display: flex;
  flex: 0 0 auto;
  height: 2.5em;
  justify-content: center;
  padding: 0;
  width: 2.5em;

  &:hover, &:focus, &:active, &:focus-visible {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  &:hover {
    color: $gray-600 !important;
  }

  &:focus, &:focus-visible, &:active {
    color: $gray-700 !important;
  }
}

.btn-xs {
  @extend .fs-6;
  @extend .px-2;
  @extend .py-1;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

// Tables

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th,
  td {
    padding: 1.5rem;
  }

  &-sm {
    th,
    td {
      padding: .75rem;
    }
  }

  .table-group-divider {
    border-top-color: $indigo-700;
  }
}

// Navs

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Containers

.background-curved-lines {
  background-size: auto;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/background_curves.svg');
}

.side-strip {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.75em;
  }
}

.side-strip-rounded {
  &::after {
    border-radius: $border-radius 0 0 $border-radius;
  }
}

// Bootstrap extensions

@each $color, $value in $theme-colors {
  .side-strip-#{$color} {
    &::after {
      background-color: $value;
    }

  }

  .text-hover-#{$color}:hover {
    color: darken($value, 10%) !important;
  }

  .bg-hover-#{$color}:hover {
    background-color: $value !important;
  }
}

.text-hover-white:hover {
  color: $white !important;
}

.text-credit {
  color: $mintgreen-700;
}

.text-debit {
  color: shade-color($red, 10%);
}

.min-width-0 {
  min-width: 0;
}

.width-10rem {
  width: 10rem;
}
.width-15rem {
  width: 15rem;
}
.width-20rem {
  width: 20rem;
}

@include media-breakpoint-down(md) {
  .row {
    --bs-gutter-x: 1rem;
  }
}

@include media-breakpoint-down(md) {
  .row > * {
    padding-left: 0;
    padding-right: 0;
  }
}
