@import './variables.scss';

// Lux 5.2.2
// Bootswatch

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

:root {
  color-scheme: light;
}

html, body, #app {
  height: 100%;
  overflow-x: hidden;
}

// Navbar

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;
  text-transform: uppercase;

  &-nav {
    .nav-link {
      padding-top: .715rem;
      padding-bottom: .715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, .1);

  &.navbar-fixed-top {
    border-width: 0 0 1px;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0;
  }
}

.nav-item {
  margin-right: 2rem;
}

// Buttons

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn-outline-secondary {
  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $indigo-400;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 .2rem rgba($indigo-400, .5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: $body-color !important;
}

// Tables

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th,
  td {
    padding: 1.5rem;
  }

  &-sm {
    th,
    td {
      padding: .75rem;
    }
  }

  .table-group-divider {
    border-top-color: $indigo-700;
  }
}

// Navs

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators

.badge {
  padding-top: .28rem;

  &-pill {
    border-radius: 10rem;
  }

  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}

// Containers

.list-group-item,
.card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.background-curved-lines {
  background-size: auto;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/background_curves.svg');
}

.icon-secondary {
  color: $indigo-700;
}

.rounded-pill-start {
  border-radius: var(--bs-border-radius-pill) 0 0 var(--bs-border-radius-pill);
}

.rounded-pill-end {
  border-radius: 0 var(--bs-border-radius-pill) var(--bs-border-radius-pill) 0;
}

.bg-light-primary {
  background-color: $mintgreen-100;
}

.side-strip {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.75em;
  }
}

.side-strip-rounded {
  &::after {
    border-radius: $border-radius 0 0 $border-radius;
  }
}

// Bootstrap extensions

@each $color, $value in $theme-colors {
  .side-strip-#{$color} {
    &::after {
      background-color: $value;
    }

  }

  .text-hover-#{$color}:hover {
    color: $value !important;
  }
}

.text-hover-white:hover {
  color: $white !important;
}

.text-credit {
  color: $mintgreen-700;
}

.text-debit {
  color: shade-color($red, 10%);
}
