@include color-mode(dark) {
  //
  // Color system
  //

  // Body

  $body-color: $mintgreen-900;

  // Fonts

  $color-contrast-dark:      $black !default;
  $color-contrast-light:     $white !default;
  $headings-color:           $mintgreen-900;

  // Cards

  .card {
    --bs-card-bg: var(--bs-tertiary-bg);
  }

  // Lists

  .list-group-item:hover {
    --bs-list-group-bg: var(--bs-secondary-bg);
  }

  .nav {
    --bs-nav-link-color: $gray-100;
    --bs-nav-link-hover-color: $gray-300;
  }
}
