@include color-mode(dark) {
  html, body, #app {
    background-color: var(--bs-body-bg);
  }

  .text-credit {
    color: $mintgreen-500 !important;
  }

  .text-debit {
    color: $red !important;
  }

  // Cards

  .card {
    --bs-card-bg: var(--bs-tertiary-bg);
  }

  // Lists

  .list-group-item:hover {
    --bs-list-group-bg: var(--bs-secondary-bg);
  }

  .nav {
    --bs-nav-link-color: $gray-100;
    --bs-nav-link-hover-color: $gray-300;
  }
}
